<mat-card class="main-card mat-elevation-z4" >
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <div>
          <mat-form-field>
            <input matInput #name placeholder="Name" c>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput #height placeholder="Height" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput #weight placeholder="Weight" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select placeholder="Agility" [(value)]="selectedAgility">
              <mat-option value="SLOW">Slow</mat-option>
              <mat-option value="FAST">Fast</mat-option>
              <mat-option >Not selected</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" routerLink="/monsters">Back</button>
      <button mat-raised-button color="primary" (click)="createMonster(name.value, height.value, weight.value, selectedAgility)">Create monster</button>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
