<div>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <button mat-raised-button routerLink="monsters" color="primary" class="main-button">Monsters</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button routerLink="areas" color="primary" class="main-button">Areas</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button routerLink="weapons" color="primary" class="main-button" >Weapons</button>
    </mat-grid-tile>

  </mat-grid-list>

</div>
