<div>
  <mat-grid-list cols="4">
    <mat-grid-tile>
      <button mat-raised-button routerLink="/auth/users" color="primary" class="main-button">Users</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button routerLink="/auth/monsters" color="primary" class="main-button">Monsters</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button routerLink="/auth/weapons" color="primary" class="main-button" >Weapons</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button routerLink="/auth/areas" color="primary" class="main-button" >Areas</button>
    </mat-grid-tile>

  </mat-grid-list>

</div>
