<mat-toolbar color="primary">
  <mat-toolbar-row  role="heading" class="">
    <span>{{ title }}</span>

    <span class="spacer"></span>

    <div *ngIf="cookieIsAdmin">
      <button mat-button routerLink="">Home</button>
      <button mat-button routerLink="/users">Users</button>
      <button mat-button routerLink="/monsters">Monsters</button>
      <button mat-button routerLink="/weapons">Weapons</button>
      <button mat-button routerLink="/areas">Areas</button>

    </div>

    <div *ngIf="!cookieIsAdmin">
      <button mat-button routerLink="">Home</button>
      <button mat-button routerLink="/notImplemented">Add appropriate Monster to Weapon</button>
      <button mat-button routerLink="/notImplemented">Add appropriate Monster to area</button>

    </div>

    <button class="logout" mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
